body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-divider.ant-divider-horizontal{
   border-top: 1px solid grey;
}

input {
  border-radius: 20px !important;
  color: white !important;
  background-color: #292a2b !important;
  border-color: #1890ff !important;
  font-family: monospace !important;
}
